.lotationWrapper {
	display: block;
	position: relative;
	width: 500px;
	height: 500px;
}

.lotationWrapper > div {
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: transform 0.5s;
}

.lotationWrapper > .item-0,
.lotationWrapper > .item-1,
.lotationWrapper > .item-2 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 1;
	visibility: visible;
	text-align: center;
	line-height: 50px;
}

.lotationWrapper > .item-0 {
	transform: translate(0, 450px);
}

.lotationWrapper > .item-1 {
	transform: translate(200px, 100px) scale(3);
}

.lotationWrapper > .item-2 {
	transform: translate(450px, 450px);
}

.lotationWrapper > div:nth-child(1) {
	background-color: red;
}

.lotationWrapper > div:nth-child(2) {
	background-color: blue;
}

.lotationWrapper > div:nth-child(3) {
	background-color: green;
}
